pytest
requests-mock 
typeguard
requests
flask
flask_cors
flask-swagger
flask-swagger-ui
pandas
python-dateutil
waitress
flask-marshmallow
flask-sqlalchemy
marshmallow-sqlalchemy
Sphinx
sphinx-rtd-theme
sphinx-tabs